.resultContainer {
  margin-bottom: 50px;
}

.locationCode {
  font-weight: bold;
  font-size: 14px;
}

.checkInCheckOut {
  font-weight: 100;
  font-size: 14px;
}

.buttonRow {
  display: flex;
  position: relative;
}

.button {
  color: white;
  background-color: #7CB342;
  width: 50%;
  padding: 10px;
}

.sortButton {
  composes: button;
  position: relative;
}

.filterButton {
  composes: button;
  display: block;
  text-decoration: none;
  text-align: center;
}

.dropDownIcon {
  composes: icon-down-dir from 'styles/wego-icons.css';
  margin-left: 5px;
}

.filterIcon {
  composes: icon-filter from 'styles/wego-icons.css';
  margin-left: 5px;
}

.footerButton {
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  width: 100%;
  background: #FF9800;
  color: white;
  font-size: 20px;
}

.sortLabel {
  text-align: center;
  width: 100%;
  position: absolute;
}

.sortSelect {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.noResultContainer {
  text-align: center;
  margin-top: 20px;
  color: #8B8B8E;
}
