.day {
  border: 1px solid #e4e7e7;
  padding: 5px;
  display: table-cell;
  text-align: center;
  background-color: #feffff;
}

.holiday {
  composes: day;
  color: #fe9400;
}

.selected {
  composes: day;
  background-color: #59a311;
  color: #e9fae5;
}

.highlited {
  composes: day;
  background-color: #bee490;
  color: #2a381e;
}

.weekend {
  composes: day;
  background-color: #f9fafb;
}


