.day {
  border: 1px solid #E4E7E7;
  padding: 5px;
  display: table-cell;
  text-align: center;
  background-color: #FEFFFF;
}

.holiday {
  composes: day;
  color: #FE9400;
}

.selected {
  composes: day;
  background-color: #59A311;
  color: #E9FAE5;
}

.highlited {
  composes: day;
  background-color: #BEE490;
  color: #2A381E;
}

.weekend {
  composes: day;
  background-color: #F9FAFB;
}


