.toolbar {
  background-color: #7CB342;
  color: #FFF;
  z-index: 5;
  height: 56px;
  font-size: 20px;
  display: -webkit-flex;
  -webkit-align-items: center;
}

.containerBody {
  padding: 10px;
}

.backButton {
  padding-left: 5px;
  padding-right: 10px;
  font-size: 36px;
  composes: icon-angle-left from 'components/shared/icons.css';
}

.cancelIcon {
  composes: icon-cancel from 'components/shared/icons.css';
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  padding: 10px;
}