.toolbar {
  composes: toolbar from 'containers/App/styles.css';
  padding-left: 20px;
  text-transform: uppercase;
}

.inputRange {
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background: #ddd;
}

/* React input range */
:global(.horizontal-slider) {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 1px solid grey;
}

:global(.vertical-slider) {
  height: 380px;
  width: 50px;
  border: 1px solid grey;
}

:global(.handle) {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}

:global(.slider .handle.active) {
  background-color: grey;
}

:global(.slider .bar) {
  position: relative;
  background: #ddd;
  top: 20px;
  height: 10px;
}

:global(.slider .bar.bar-1) {
  background: #f00;
}

:global(.slider .bar.bar-2) {
  background: #0f0;
}

:global(.slider .handle) {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 48px;
}