.toolbar {
  composes: toolbar from 'containers/App/styles.css';
  padding-left: 20px;
  text-transform: uppercase;
}

.priceFilter {
  margin-left: 30px;
  margin-right: 30px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.starFilter {
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 5px;
}

.priceLabels {
  display: flex;
  position: relative;
}

.minPriceLabel {
  display: block;
  left: 0;
}

.maxPriceLabel {
  display: block;
  position: absolute;
  right: 0;
}

.filterSubTitle {
  background: #f8f8f8 none repeat scroll 0% 0%;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0.8rem 1rem;
  border-top: 1px solid #dddddd;
  color: #999;
}

/* React input range */
:global(.slider .horizontal-slider) {
  width: 100%;
  max-width: 500px;
  height: 50px;
  border: 1px solid grey;
}

:global(.slider .vertical-slider) {
  height: 380px;
  width: 50px;
  border: 1px solid grey;
}

:global(.slider .handle) {
  font-size: 0.9em;
  text-align: center;
  background-color: white;
  color: white;
  cursor: pointer;
  top: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid #ddd;
}

:global(.slider .handle.active) {
  background-color: grey;
}

:global(.slider .bar) {
  position: relative;
  background: #ddd;
  top: 22px;
  height: 5px;
}

:global(.slider .bar.bar-1) {
  background: #ff9800;
}

:global(.slider .bar.bar-2) {
  background: grey;
}
