.container {
  background-image: url('http://res.cloudinary.com/wego/image/upload/c_fill,g_center,h_1280,w_720,q_60/v1468307149/wego-polymer/main_background.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.hotelsButton {
  width: 120px;
  height: 120px;
  font-size: 14px;
  background: url('https://beta.wegostaging.com/images/rounded_btn_bg.png') no-repeat center;
  background-size: cover;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hotelIcon {
  display: block;
  font-size: 50px;
  margin-top: 10px;
  composes: icon-commerical-building from 'components/shared/icons.css';
}
