/**
 * styles.css
 *
 * App container styles
 */

.container {
  display: block;
}

.toolbar {
  background-color: #7CB342;
  color: #FFF;
  z-index: 5;
  height: 56px;
  padding-left: 20px;
  padding-right: 4px;
  font-size: 20px;
  display: -webkit-flex;
  -webkit-align-items: center;
}

.noScroll {
  position: fixed;
  overflow: hidden;
}

.containerBody {
  padding: 10px;
}
