.month {
  display: table;
  width: 100%;
}

.week {
  display: table-row;
}

.weekHeader {
  display: table-row;
  text-align: center;
  text-transform: uppercase;
}

.dayHeader {
  display: table-cell;
  background-color: #FBFBFB;
  border: 1px solid #F2F2F2;
  padding-top: 5px;
  padding-bottom: 5px;
}

.monthLabel {
  padding: 10px 0 10px 0;
  font-size: 1.1rem;
  text-transform: uppercase;
}
